body {
    padding-top: 20px;
}

h1 {
    color: #007bff;
}

p {
    font-size: 18px;
}

.navbar-brand {
    font-weight: bold;
}

.back-to-homepage {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.back-to-homepage:hover {
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
}

.navbar-brand img {
    height: 50px; 
}

.login-logo {
    display: block; 
    max-width: 200px; 
    height: auto; 
    margin: 0 auto 20px; 
}

.navbar-brand {
    font-weight: bold;
}

.container-fluid.banner-container {
    padding: 0; 
    margin-top: 30px; 
}

.banner {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 60px 0; 
}

.logo-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center; 
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 200px; 
    margin-bottom: 20px; 
}

.header-text h1 {
    color: #FFFFFF; 
    margin-bottom: 0.5em; 
}

.header-text p {
    color: #FFFFFF; 
    font-style: italic;
    font-family: 'Garamond', serif; 
}

@media (min-width: 992px) {
    .logo-text-wrapper {
        flex-direction: row; 
        justify-content: space-evenly;
    }

    .header-text {
        text-align: left; 
    }
}

.form-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    width: 100%; 
    box-sizing: border-box; 
}

.form-box .img-fluid {
    max-width: 100%;
    height: auto;
}